<div class="col-md-6 offset-md-3">
    <h3> Update Workout </h3>
    <form (ngSubmit)= "onSubmit()">
     
        <div class="form-group">
            <label> User ID </label>
            <input type="text" class="form-control" id="userID" 
                [(ngModel)]="workout.userID" name="userID">
        </div>
        <div class="form-group">
            <label> Duration </label>
            <input type="text" class="form-control" id="duration" 
                [(ngModel)]="workout.duration" name="duration">
        </div>
        <div class="form-group">
            <label> Date </label>
            <input type="text" class="form-control" id="date" 
                [(ngModel)]="workout.date" name="date">
        </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    
    
</div>